/* http://meyerweb.com/eric/tools/css/reset/
 * v2.0 | 20110126
 * License: none (public domain) */
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after {
  content: '';
  content: none;
}

q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  max-width: 100%;
  height: auto;
}

*, *:before, *:after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

a {
  display: block;
  text-decoration: none;
}

.wrap {
  max-width: 960px;
  margin: 0 auto;
}

.wrap .topbar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  background: #f6f6f6;
}

.wrap .topbar ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .topbar ul li {
  margin: 2px 5px;
}

.wrap .topbar ul li a {
  display: block;
  font-size: 15px;
}

.wrap .topbar ul li a img {
  vertical-align: bottom;
  margin-right: 3px;
}

.wrap .topbar ul li a .fb-color {
  color: #4460a0;
}

.wrap .topbar ul li a .twi-color {
  color: #00aaec;
}

.wrap .top_nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap .top_nav .logo a {
  background-image: url(https://raw.githubusercontent.com/hexschool/HTMLHWSource/master/singlePage/logo.png);
  text-indent: 101%;
  white-space: nowrap;
  overflow: hidden;
  width: 200px;
  height: 45px;
  padding-bottom: 5px;
}

.wrap .top_nav .menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.wrap .top_nav .menu li {
  position: relative;
}

.wrap .top_nav .menu li a {
  padding: 12px 20px;
  color: #0c9;
}

.wrap .top_nav .menu li a:hover {
  border-bottom: 5px solid #0c9;
}

.wrap .top_nav .menu li .submenu_course_intro {
  position: absolute;
  width: 100%;
  top: 35px;
  z-index: 100;
  background: #333;
  border: solid 1px;
  display: none;
}

.wrap .top_nav .menu li .submenu_course_intro li a {
  text-align: center;
  color: #f6f6f6;
}

.wrap .top_nav .menu li .submenu_course_intro.open {
  display: block;
}

.wrap .header {
  position: relative;
}

.wrap .header h1.text {
  position: absolute;
  top: 30%;
  font-size: 32px;
  line-height: 50px;
  font-weight: bold;
  padding: 44px 0px 40px 20px;
  color: #fff;
  width: 100%;
  background: -webkit-gradient(linear, left top, right top, from(black), to(transparent));
  background: linear-gradient(to right, black, transparent);
  z-index: 3;
}

.wrap .main {
  margin-top: 40px;
}

.wrap .main .boxs {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.wrap .main .boxs .box {
  width: 30%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-shadow: 5px 3px 5px grey;
          box-shadow: 5px 3px 5px grey;
  border-radius: 10px;
}

.wrap .main .boxs .box h2 {
  font-size: 25px;
  padding: 15px;
}

.wrap .main .boxs .box p {
  font-size: 12px;
  padding: 10px 20px;
}

.wrap .main .course_info {
  margin-top: 40px;
}

.wrap .main .course_info h3 {
  margin-bottom: 20px;
  font-size: 20px;
  font-weight: bold;
  text-align: center;
}

.wrap .main .course_info .course_contrast {
  margin: 0 auto;
  text-align: left;
}

.wrap .main .course_info .course_contrast tr {
  border-top: solid 1px;
  border-bottom: solid 1px4;
  border-color: grey;
}

.wrap .main .course_info .course_contrast tr th, .wrap .main .course_info .course_contrast tr td {
  padding: 14px 60px;
}

.wrap .main .course_info .course_contrast tr th {
  font-weight: bold;
}

.wrap .main .course_info .course_contrast tr td.color {
  color: #00a67d;
}

.wrap .main .course_info .course_contrast tr.tablehead {
  background-color: #f7f7f7;
}

.wrap .main .contact {
  background: -webkit-gradient(linear, left top, left bottom, from(#00644b), to(#009872));
  background: linear-gradient(#00644b, #009872);
  margin-top: 40px;
}

.wrap .main .contact h3 {
  color: #fff;
  font-size: 20px;
  text-align: center;
  padding: 20px;
  line-height: 30px;
}

.wrap .main .contact form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.wrap .main .contact form .msg {
  margin: 5px 0px 30px 30px;
  width: 50%;
  border-radius: 20px;
}

.wrap .main .contact form .contact_form {
  width: 40%;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin: 5px 50px 30px 0px;
}

.wrap .main .contact form .contact_form #name, .wrap .main .contact form .contact_form #phone, .wrap .main .contact form .contact_form #mail {
  margin: 10px 0px;
}

.wrap .main .contact form .contact_form .btn {
  width: 60px;
  -ms-flex-item-align: end;
      align-self: flex-end;
  margin-top: 20px;
}

.wrap .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 10px 0px;
}

.wrap .footer p {
  font-size: 15px;
  padding-bottom: 5px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.wrap .footer p a {
  color: red;
}

.wrap .footer p a:hover {
  color: blue;
}

.top {
  position: relative;
}

.top #top {
  position: fixed;
  font-size: 40px;
  right: 20px;
  bottom: 20px;
}
/*# sourceMappingURL=all.css.map */